tools/servicemocks/HdiStub/Web References/HdiService/PatientAccessServiceEngine.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns3="http://domain.webservice.cie" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns2="http://domain.patientaccess.webservice.cie" xmlns:impl="http://patientaccess.webservice.cie" xmlns:tns4="http://fusnote.domain.webservice.cie" xmlns:wsi="http://ws-i.org/profiles/basic/1.1/xsd" xmlns:intf="http://patientaccess.webservice.cie" targetNamespace="http://patientaccess.webservice.cie" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://domain.patientaccess.webservice.cie">
      <xsd:import namespace="http://fusnote.domain.webservice.cie" />
      <xsd:import namespace="http://domain.webservice.cie" />
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:complexType name="ConnectionSpecRequest">
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns3:WSHospitalRequest">
            <xsd:sequence />
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:element name="ConnectionSpecRequest" nillable="true" type="tns2:ConnectionSpecRequest" />
      <xsd:complexType name="ConnectionSpecification">
        <xsd:sequence>
          <xsd:element name="hubName" nillable="true" type="xsd:string" />
          <xsd:element name="description" nillable="true" type="xsd:string" />
          <xsd:element name="ipAddress" nillable="true" type="xsd:string" />
          <xsd:element name="hospitalCode" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="ConnectionSpecification" nillable="true" type="tns2:ConnectionSpecification" />
      <xsd:complexType name="PBARAvailabilityRequest">
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns3:WSHospitalRequest">
            <xsd:sequence>
              <xsd:element name="onlineUpCheck" type="xsd:boolean" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:element name="PBARAvailabilityRequest" nillable="true" type="tns2:PBARAvailabilityRequest" />
      <xsd:complexType name="FUSNote">
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns4:FUSNote">
            <xsd:sequence>
              <xsd:element name="amount1" nillable="true" type="soapenc:decimal" />
              <xsd:element name="amount2" nillable="true" type="soapenc:decimal" />
              <xsd:element name="date1" nillable="true" type="xsd:dateTime" />
              <xsd:element name="date2" nillable="true" type="xsd:dateTime" />
              <xsd:element name="noteType" nillable="true" type="xsd:string" />
              <xsd:element name="workListDate" nillable="true" type="xsd:dateTime" />
              <xsd:element name="extensionMonth" nillable="true" type="xsd:string" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://domain.webservice.cie">
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:complexType name="WSHospitalRequest" abstract="true">
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns3:WSRequest">
            <xsd:sequence>
              <xsd:element name="hospitalCode" nillable="true" type="xsd:string" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="WSRequest" abstract="true">
        <xsd:sequence>
          <xsd:element name="clientGUID" nillable="true" type="xsd:string" />
          <xsd:element name="userID" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="WSPatientSpecificRequest">
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns3:WSHospitalRequest">
            <xsd:sequence>
              <xsd:element name="accountNumber" nillable="true" type="xsd:string" />
              <xsd:element name="medicalRecordNumber" nillable="true" type="xsd:string" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://patientaccess.webservice.cie">
      <xsd:import namespace="http://domain.patientaccess.webservice.cie" />
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:element name="getPBARAvailabilityForReturn" type="xsd:boolean" />
      <xsd:element name="postRemarksFUSNoteForReturn" type="xsd:boolean" />
      <xsd:element name="postExtendedFUSNoteForReturn" type="xsd:boolean" />
      <xsd:complexType name="ArrayOf_xsd_nillable_string">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute wsdl:arrayType="xsd:string[]" ref="soapenc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="ArrayOf_tns2_nillable_FUSNote">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute wsdl:arrayType="tns2:FUSNote[]" ref="soapenc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:element name="ArrayOf_tns2_nillable_FUSNote" nillable="true" type="intf:ArrayOf_tns2_nillable_FUSNote" />
    </xsd:schema>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://fusnote.domain.webservice.cie">
      <xsd:import namespace="http://patientaccess.webservice.cie" />
      <xsd:import namespace="http://domain.webservice.cie" />
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:complexType name="RemarksFUSNoteRequest">
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns4:FUSNoteRequest">
            <xsd:sequence>
              <xsd:element name="remarks" nillable="true" type="xsd:string" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="FUSNoteRequest">
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns3:WSHospitalRequest">
            <xsd:sequence>
              <xsd:element name="accountNumber" nillable="true" type="xsd:string" />
              <xsd:element name="activityCode" nillable="true" type="xsd:string" />
              <xsd:element name="serviceDateTime" nillable="true" type="xsd:dateTime" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:element name="RemarksFUSNoteRequest" nillable="true" type="tns4:RemarksFUSNoteRequest" />
      <xsd:complexType name="ExtendedFUSNoteRequest">
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns4:FUSNoteRequest">
            <xsd:sequence>
              <xsd:element name="amount1" nillable="true" type="soapenc:decimal" />
              <xsd:element name="amount2" nillable="true" type="soapenc:decimal" />
              <xsd:element name="date1" nillable="true" type="xsd:dateTime" />
              <xsd:element name="date2" nillable="true" type="xsd:dateTime" />
              <xsd:element name="workListDate" nillable="true" type="xsd:dateTime" />
              <xsd:element name="extensionMonth" nillable="true" type="xsd:string" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:element name="ExtendedFUSNoteRequest" nillable="true" type="tns4:ExtendedFUSNoteRequest" />
      <xsd:complexType name="ReadFUSNotesRequest">
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns3:WSPatientSpecificRequest">
            <xsd:sequence />
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:element name="ReadFUSNotesRequest" nillable="true" type="tns4:ReadFUSNotesRequest" />
      <xsd:complexType name="FUSNote">
        <xsd:sequence>
          <xsd:element name="activityCode" nillable="true" type="xsd:string" />
          <xsd:element name="description" nillable="true" type="xsd:string" />
          <xsd:element name="entryDateTime" nillable="true" type="xsd:dateTime" />
          <xsd:element name="keyedBy" nillable="true" type="xsd:string" />
          <xsd:element name="medicalRecordNumbers" nillable="true" type="intf:ArrayOf_xsd_nillable_string" />
          <xsd:element name="remarks" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ExtendedRemarksFUSNoteRequest">
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns4:RemarksFUSNoteRequest">
            <xsd:sequence>
              <xsd:element name="amount1" nillable="true" type="soapenc:decimal" />
              <xsd:element name="amount2" nillable="true" type="soapenc:decimal" />
              <xsd:element name="date1" nillable="true" type="xsd:dateTime" />
              <xsd:element name="date2" nillable="true" type="xsd:dateTime" />
              <xsd:element name="workListDate" nillable="true" type="xsd:dateTime" />
              <xsd:element name="extensionMonth" nillable="true" type="xsd:string" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="postRemarksFUSNoteForRequest">
    <wsdl:part name="arg_0_2" type="tns4:RemarksFUSNoteRequest" />
  </wsdl:message>
  <wsdl:message name="getFUSNotesForRequest">
    <wsdl:part name="arg_0_4" type="tns4:ReadFUSNotesRequest" />
  </wsdl:message>
  <wsdl:message name="postExtendedFUSNoteForRequest">
    <wsdl:part name="arg_0_3" type="tns4:ExtendedFUSNoteRequest" />
  </wsdl:message>
  <wsdl:message name="getConnectionSpecForRequest">
    <wsdl:part name="arg_0_0" type="tns2:ConnectionSpecRequest" />
  </wsdl:message>
  <wsdl:message name="getConnectionSpecForResponse">
    <wsdl:part name="getConnectionSpecForReturn" type="tns2:ConnectionSpecification" />
  </wsdl:message>
  <wsdl:message name="getPBARAvailabilityForRequest">
    <wsdl:part name="arg_0_1" type="tns2:PBARAvailabilityRequest" />
  </wsdl:message>
  <wsdl:message name="postExtendedFUSNoteForResponse">
    <wsdl:part name="postExtendedFUSNoteForReturn" type="xsd:boolean" />
  </wsdl:message>
  <wsdl:message name="postRemarksFUSNoteForResponse">
    <wsdl:part name="postRemarksFUSNoteForReturn" type="xsd:boolean" />
  </wsdl:message>
  <wsdl:message name="getPBARAvailabilityForResponse">
    <wsdl:part name="getPBARAvailabilityForReturn" type="xsd:boolean" />
  </wsdl:message>
  <wsdl:message name="getFUSNotesForResponse">
    <wsdl:part name="getFUSNotesForReturn" type="intf:ArrayOf_tns2_nillable_FUSNote" />
  </wsdl:message>
  <wsdl:portType name="PatientAccess">
    <wsdl:operation name="getConnectionSpecFor" parameterOrder="arg_0_0">
      <wsdl:input name="getConnectionSpecForRequest" message="intf:getConnectionSpecForRequest" />
      <wsdl:output name="getConnectionSpecForResponse" message="intf:getConnectionSpecForResponse" />
    </wsdl:operation>
    <wsdl:operation name="getPBARAvailabilityFor" parameterOrder="arg_0_1">
      <wsdl:input name="getPBARAvailabilityForRequest" message="intf:getPBARAvailabilityForRequest" />
      <wsdl:output name="getPBARAvailabilityForResponse" message="intf:getPBARAvailabilityForResponse" />
    </wsdl:operation>
    <wsdl:operation name="postRemarksFUSNoteFor" parameterOrder="arg_0_2">
      <wsdl:input name="postRemarksFUSNoteForRequest" message="intf:postRemarksFUSNoteForRequest" />
      <wsdl:output name="postRemarksFUSNoteForResponse" message="intf:postRemarksFUSNoteForResponse" />
    </wsdl:operation>
    <wsdl:operation name="postExtendedFUSNoteFor" parameterOrder="arg_0_3">
      <wsdl:input name="postExtendedFUSNoteForRequest" message="intf:postExtendedFUSNoteForRequest" />
      <wsdl:output name="postExtendedFUSNoteForResponse" message="intf:postExtendedFUSNoteForResponse" />
    </wsdl:operation>
    <wsdl:operation name="getFUSNotesFor" parameterOrder="arg_0_4">
      <wsdl:input name="getFUSNotesForRequest" message="intf:getFUSNotesForRequest" />
      <wsdl:output name="getFUSNotesForResponse" message="intf:getFUSNotesForResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PatientAccessSoapBinding" type="intf:PatientAccess">
    <wsaw:UsingAddressing wsdl:required="false" xmlns:wsaw="http://www.w3.org/2006/02/addressing/wsdl" />
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="getConnectionSpecFor">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getConnectionSpecForRequest">
        <wsdlsoap:body use="encoded" namespace="http://patientaccess.webservice.cie" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="getConnectionSpecForResponse">
        <wsdlsoap:body use="encoded" namespace="http://patientaccess.webservice.cie" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPBARAvailabilityFor">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getPBARAvailabilityForRequest">
        <wsdlsoap:body use="encoded" namespace="http://patientaccess.webservice.cie" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="getPBARAvailabilityForResponse">
        <wsdlsoap:body use="encoded" namespace="http://patientaccess.webservice.cie" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="postRemarksFUSNoteFor">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="postRemarksFUSNoteForRequest">
        <wsdlsoap:body use="encoded" namespace="http://patientaccess.webservice.cie" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="postRemarksFUSNoteForResponse">
        <wsdlsoap:body use="encoded" namespace="http://patientaccess.webservice.cie" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="postExtendedFUSNoteFor">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="postExtendedFUSNoteForRequest">
        <wsdlsoap:body use="encoded" namespace="http://patientaccess.webservice.cie" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="postExtendedFUSNoteForResponse">
        <wsdlsoap:body use="encoded" namespace="http://patientaccess.webservice.cie" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFUSNotesFor">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getFUSNotesForRequest">
        <wsdlsoap:body use="encoded" namespace="http://patientaccess.webservice.cie" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="getFUSNotesForResponse">
        <wsdlsoap:body use="encoded" namespace="http://patientaccess.webservice.cie" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PatientAccessService">
    <wsdl:port name="PatientAccess" binding="intf:PatientAccessSoapBinding">
      <wsdlsoap:address location="http://hdi.etenet.com:80/HDI_3_6/PatientAccess" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>