src/PatientAccess/Tests/OnlinePreRegistrationDataCreator/Service References/PatientAccess.OnlinePreRegistration/PreRegistrationHandlerService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ProcessMessage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="messageType" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProcessMessageResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ProcessMessageSoapIn">
    <wsdl:part name="parameters" element="tns:ProcessMessage" />
  </wsdl:message>
  <wsdl:message name="ProcessMessageSoapOut">
    <wsdl:part name="parameters" element="tns:ProcessMessageResponse" />
  </wsdl:message>
  <wsdl:portType name="PreRegistrationHandlerServiceSoap">
    <wsdl:operation name="ProcessMessage">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Process pre-registration message</wsdl:documentation>
      <wsdl:input message="tns:ProcessMessageSoapIn" />
      <wsdl:output message="tns:ProcessMessageSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PreRegistrationHandlerServiceSoap" type="tns:PreRegistrationHandlerServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ProcessMessage">
      <soap:operation soapAction="http://tempuri.org/ProcessMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PreRegistrationHandlerServiceSoap12" type="tns:PreRegistrationHandlerServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ProcessMessage">
      <soap12:operation soapAction="http://tempuri.org/ProcessMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PreRegistrationHandlerService">
    <wsdl:port name="PreRegistrationHandlerServiceSoap" binding="tns:PreRegistrationHandlerServiceSoap">
      <soap:address location="http://localhost/PatientAccess.AppServer/EmsEventProcessingServices/PreRegistrationHandlerService.asmx" />
    </wsdl:port>
    <wsdl:port name="PreRegistrationHandlerServiceSoap12" binding="tns:PreRegistrationHandlerServiceSoap12">
      <soap12:address location="http://localhost/PatientAccess.AppServer/EmsEventProcessingServices/PreRegistrationHandlerService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>