src/PatientAccess/Server/AppServer/Resources/PreRegistrationData.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema targetNamespace="http://www.dell.com/services/healthcare/patientaccess/pre-registration/v1.0"
            xmlns="http://www.dell.com/services/healthcare/patientaccess/pre-registration/v1.0"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            elementFormDefault="qualified">

  <xsd:import namespace="http://microsoft.com/wsdl/types/" schemaLocation="GuidType.xsd" >
    <xsd:annotation>
      <xsd:documentation>Importing this schema to help the .NET framework map the Id element to the built in .Net Guid type. This schema was generated by the XSD.exe tool when run on a class with a Guid type property.</xsd:documentation>
    </xsd:annotation>
  </xsd:import>

  <xsd:element name="preRegistration">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="1" maxOccurs="1" name="id" xmlns:q1="http://microsoft.com/wsdl/types/" type="q1:guid">
          <xsd:annotation>
            <xsd:documentation>
              This will be a unique id in the form of a GUID that will uniquely identify the message.
              It is based on a type in the imported schema rather than a simple string type to help
              the .NET schema to class generator (XSD.exe) create a Guid type property for the Id element
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>

        <xsd:element name="dateTimeOfSubmission" type="xsd:dateTime" minOccurs="1" maxOccurs="1"/>

        <xsd:element name="facility" type="facilityType" minOccurs="1" maxOccurs="1"/>

        <xsd:element name="patient" type="patientType" minOccurs="1" maxOccurs="1"/>

        <xsd:element name="visit" type="visitType" minOccurs="1" maxOccurs="1"/>

      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:complexType name="facilityType">
    <xsd:sequence>
      <xsd:element name="code" type="facilityCodeType" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="serviceLocation" minOccurs="0" maxOccurs="1" type="serviceLocationType"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:simpleType name="facilityCodeType">
    <xsd:restriction base="xsd:string">
      <xsd:length value="3"/>
      <xsd:pattern value="[A-Z]{3,3}"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:complexType name="serviceLocationType">
    <xsd:sequence>
      <xsd:element name="name" type="serviceLocationNameType" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:simpleType name="serviceLocationNameType">
    <xsd:restriction base="startWithLetterRestLettersNumbersSpaceHyphenPeriodApostrophe">
      <xsd:minLength value="5"/>
      <xsd:maxLength value="40"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:complexType name="visitType">
    <xsd:annotation>
      <xsd:documentation>admission information</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="returningPatient" type="xsd:boolean" minOccurs="0" maxOccurs="1" />
      <xsd:element name="previousVisitName" type="nameWithComma" minOccurs="0" maxOccurs="1" />
      <xsd:element name="admittingPhysicianName" type="physicianNameType" minOccurs="1" maxOccurs="1" />
      <xsd:element name="treatingPhysicianName" type="physicianNameType" minOccurs="0" maxOccurs="1" />
      <xsd:element name="primaryCarePhysician" type="physicianNameType" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Primary Care Physician / Family Doctor</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="expectedAdmissionDateTime" type="xsd:dateTime" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>format needs to be YYYY-MM-DD</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="procedureTreatmentOrTest" type="procedureType" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Type of Procedure/Treatment/Test</xsd:documentation>
        </xsd:annotation>
      </xsd:element>

      <xsd:element name="insuranceInformation" minOccurs="0" maxOccurs="1">
        <xsd:complexType>
          <xsd:annotation>
            <xsd:documentation>Company telephone number goes under the address element</xsd:documentation>
          </xsd:annotation>
          <xsd:sequence>
            <xsd:element name="primaryInsurance" type="insuranceType" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="secondaryInsurance" type="insuranceType" minOccurs="0" maxOccurs="1"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="bestWayToContact" type="wayToContactType" minOccurs="0" maxOccurs="1" />

      <xsd:element name="bestTimeToContact" type="timeToContactType" minOccurs="0" maxOccurs="1" />

      <xsd:element name="preferredMethodOfPayment" type="methodOfPaymentType" minOccurs="0" maxOccurs="1" />

      <xsd:element name="newsletterRegistration" type="newsletterRegistrationType" minOccurs="1" maxOccurs="1"/>

    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="patientType">
    <xsd:sequence>

      <xsd:element name="name" type="nameType" minOccurs="1" maxOccurs="1" />

      <xsd:element name="placeOfBirth" type="placeOfBirthType" minOccurs="1" maxOccurs="1" />

      <xsd:element name="dateOfBirth" type="xsd:date" minOccurs="1" maxOccurs="1" />

      <xsd:element name="socialSecurityNumber" type="socialSecurityNumberType" minOccurs="0" maxOccurs="1" />

      <xsd:element name="gender" type="genderType" minOccurs="1" maxOccurs="1" />

      <xsd:element name="maritalStatus" type="maritalStatusType" minOccurs="1" maxOccurs="1" />

      <xsd:element name="race" type="raceType" minOccurs="1" maxOccurs="1" />

      <xsd:element name="ethnicity" type="ethnicityType" minOccurs="0" maxOccurs="1" />

      <xsd:element name="preferredLanguage" type="preferredLanguageType" minOccurs="0" maxOccurs="1"/>

      <xsd:element name="religiousPreference" type="religionType" minOccurs="0" maxOccurs="1" />

      <xsd:element name="address" type="addressType" minOccurs="1" maxOccurs="1"/>

      <xsd:element name="phoneNumber" type="telephoneNumberType" minOccurs="1" maxOccurs="1" />

      <xsd:element name="cellPhoneNumber" type="telephoneNumberType" minOccurs="0" maxOccurs="1" />

      <xsd:element name="emailAddress" type="emailAddressType" minOccurs="0" maxOccurs="1" />

      <xsd:element name="employment" type="employmentType" minOccurs="1" maxOccurs="1" />

      <xsd:element name="emergencyContact1" type="emergencyContactType" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Emergency Notification</xsd:documentation>
        </xsd:annotation>
      </xsd:element>

      <xsd:element name="emergencyContact2" type="emergencyContactType" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Nearest Relative or Friend (not living with you)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>

      <xsd:element name="guarantor" type="guarantorType" minOccurs="1" maxOccurs="1" />

    </xsd:sequence>
  </xsd:complexType>

  <xsd:simpleType name="maritalStatusType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="CODE_D_VALUE_DIVORCED"/>
      <xsd:enumeration value="CODE_X_VALUE_LG SEPARAT"/>
      <xsd:enumeration value="CODE_L_VALUE_LIFE PARTN"/>
      <xsd:enumeration value="CODE_M_VALUE_MARRIED"/>
      <xsd:enumeration value="CODE_S_VALUE_SINGLE"/>
      <xsd:enumeration value="CODE_U_VALUE_UNKNOWN"/>
      <xsd:enumeration value="CODE_F_VALUE_WIDOWED"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="raceType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="CODE_5_VALUE_ASIAN"/>
      <xsd:enumeration value="CODE_2_VALUE_BLACK"/>
      <xsd:enumeration value="CODE_4_VALUE_NATIV AMER"/>
      <xsd:enumeration value="CODE_6_VALUE_OTHER"/>
      <xsd:enumeration value="CODE_3_VALUE_PACIFC ISL"/>
      <xsd:enumeration value="CODE_8_VALUE_TEST SYNC"/>
      <xsd:enumeration value="CODE_7_VALUE_UNKNOWN"/>
      <xsd:enumeration value="CODE_1_VALUE_WHITE"/>
    </xsd:restriction>

  </xsd:simpleType>

  <xsd:simpleType name="genderType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="CODE_M_VALUE_MALE"/>
      <xsd:enumeration value="CODE_F_VALUE_FEMALE"/>
      <xsd:enumeration value="CODE_U_VALUE_UNKNOWN"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:complexType name="nameType">
    <xsd:sequence>
      <xsd:element name="first" maxOccurs="1" minOccurs="1" type="firstNameType" />
      <xsd:element name="last" type="lastNameType" maxOccurs="1" minOccurs="1" />
      <xsd:element name="maiden" minOccurs="0" maxOccurs="1">
        <xsd:simpleType>
          <xsd:restriction base="startWithLetterRestLettersNumbersSpaceHyphen">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="25"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="middleInitial" type="middleInitialType" minOccurs="0" maxOccurs="1"/>

    </xsd:sequence>
  </xsd:complexType>

  <xsd:simpleType name="firstNameType">
    <xsd:annotation>
      <xsd:documentation>First character has to be a letter rest can be letters numbers space or hyphen</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="startWithLetterRestLettersNumbersSpaceHyphen">
      <xsd:maxLength value="15" />
      <xsd:minLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="middleInitialType">
    <xsd:restriction base="xsd:string">
      <xsd:length value="1"/>
      <xsd:pattern value="[A-Z]"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="lastNameType">
    <xsd:annotation>
      <xsd:documentation>First character has to be a letter rest can be letters numbers space or hyphen</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="startWithLetterRestLettersNumbersSpaceHyphen">
      <xsd:maxLength value="25" />
      <xsd:minLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="fullNameType">
    <xsd:restriction base="startWithLetterRestLettersNumbersSpaceHyphen">
      <xsd:minLength value="1"/>
      <xsd:maxLength value="23"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="nameWithComma">
    <xsd:restriction base="startWithLetterRestLettersSpaceHyphenComma">
      <xsd:minLength value="1"/>
      <xsd:maxLength value="25"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="physicianNameType">
    <xsd:annotation>
      <xsd:documentation>First character has to be a letter rest can be letters numbers space or hyphen</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="startWithLetterRestLettersNumbersSpaceHyphen">
      <xsd:minLength value="1"/>
      <xsd:maxLength value="44" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="placeOfBirthType">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[A-Z][ A-Z\-.]*"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="socialSecurityNumberType">
    <xsd:annotation>
      <xsd:documentation>format needs to be 123-123-1234</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="\d{3}\-\d{2}-\d{4}"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="lettersNumberSpaceAndHyphen">
    <xsd:annotation>
      <xsd:documentation>First character has to be a letter rest can be letters numbers space or hyphen</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[A-Z0-9 \-]*" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="startWithLetterRestLettersNumbersSpaceHyphen">
    <xsd:annotation>
      <xsd:documentation>First character has to be a letter rest can be letters numbers space or hyphen</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[A-Z][ A-Z0-9\-]*" />
    </xsd:restriction>
  </xsd:simpleType>
  
  <xsd:simpleType name="startWithLetterRestLettersNumbersSpaceHyphenPeriodApostrophe">
    <xsd:annotation>
      <xsd:documentation>First character has to be a letter rest can be letters numbers space or hyphen</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[A-Z][ A-Z0-9\-.']*" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="startWithLetterRestLettersSpaceHyphenComma">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[A-Z][ A-Z\-,]*" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="startWithLetterOrNumberRestLettersNumbersSpaceHyphenPeriod">
    <xsd:annotation>
      <xsd:documentation>First character has to be a letter rest can be letters numbers space, hyphen or period</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[A-Z0-9][ A-Z0-9\-.]*"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="startWithLetterOrNumberRestLettersNumbersSpaceHyphen">
    <xsd:annotation>
      <xsd:documentation>
        First character has to be a letter rest can be letters numbers space, hyphen or period
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="" />
      <xsd:pattern value="[A-Z0-9][ A-Z0-9-]*"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="ethnicityType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="CODE_1_VALUE_HISPANIC"/>
      <xsd:enumeration value="CODE_2_VALUE_NON-HISPANIC"/>
      <xsd:enumeration value="CODE_3_VALUE_UNKNOWN"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="languageType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="CODE_AL_VALUE_ALBANIAN"/>
      <xsd:enumeration value="CODE_AB_VALUE_ARABIC"/>
      <xsd:enumeration value="CODE_AR_VALUE_ARMENIAN"/>
      <xsd:enumeration value="CODE_AZ_VALUE_AZERBAIJANI"/>
      <xsd:enumeration value="CODE_BU_VALUE_BULGARIAN"/>
      <xsd:enumeration value="CODE_CA_VALUE_CAMBODIAN"/>
      <xsd:enumeration value="CODE_CN_VALUE_CHINESE"/>
      <xsd:enumeration value="CODE_CR_VALUE_CREOLE"/>
      <xsd:enumeration value="CODE_CZ_VALUE_CZECH"/>
      <xsd:enumeration value="CODE_DA_VALUE_DANISH"/>
      <xsd:enumeration value="CODE_DU_VALUE_DUTCH"/>
      <xsd:enumeration value="CODE_EN_VALUE_ENGLISH"/>
      <xsd:enumeration value="CODE_ES_VALUE_ESTONIAN"/>
      <xsd:enumeration value="CODE_FA_VALUE_FARSI"/>
      <xsd:enumeration value="CODE_FP_VALUE_FILIPINO"/>
      <xsd:enumeration value="CODE_FI_VALUE_FINNISH"/>
      <xsd:enumeration value="CODE_FR_VALUE_FRENCH"/>
      <xsd:enumeration value="CODE_GE_VALUE_GERMAN"/>
      <xsd:enumeration value="CODE_GR_VALUE_GREEK"/>
      <xsd:enumeration value="CODE_HC_VALUE_HAITIAN CREOLE"/>
      <xsd:enumeration value="CODE_HE_VALUE_HEBREW"/>
      <xsd:enumeration value="CODE_HM_VALUE_HMONG"/>
      <xsd:enumeration value="CODE_HU_VALUE_HUNGARIAN"/>
      <xsd:enumeration value="CODE_IN_VALUE_INDONESIAN"/>
      <xsd:enumeration value="CODE_IT_VALUE_ITALIAN"/>
      <xsd:enumeration value="CODE_JP_VALUE_JAPANESE"/>
      <xsd:enumeration value="CODE_KO_VALUE_KOREAN"/>
      <xsd:enumeration value="CODE_LA_VALUE_LAOATIAN"/>
      <xsd:enumeration value="CODE_LE_VALUE_LEBANESE"/>
      <xsd:enumeration value="CODE_LI_VALUE_LITHUANIAN"/>
      <xsd:enumeration value="CODE_MA_VALUE_MALAYAN"/>
      <xsd:enumeration value="CODE_NO_VALUE_NORWEGIAN"/>
      <xsd:enumeration value="CODE_OT_VALUE_OTHER"/>
      <xsd:enumeration value="CODE_PK_VALUE_PAKISTAN"/>
      <xsd:enumeration value="CODE_PL_VALUE_POLISH"/>
      <xsd:enumeration value="CODE_PG_VALUE_PORTUGUESE"/>
      <xsd:enumeration value="CODE_RO_VALUE_ROMANIAN"/>
      <xsd:enumeration value="CODE_RS_VALUE_RUSSIAN"/>
      <xsd:enumeration value="CODE_SA_VALUE_SAMOAN"/>
      <xsd:enumeration value="CODE_SC_VALUE_SERBO-CROATIAN"/>
      <xsd:enumeration value="CODE_SL_VALUE_SIGN LANGUAGE"/>
      <xsd:enumeration value="CODE_SK_VALUE_SLOVAK"/>
      <xsd:enumeration value="CODE_SP_VALUE_SPANISH"/>
      <xsd:enumeration value="CODE_SU_VALUE_SUDANESE"/>
      <xsd:enumeration value="CODE_SW_VALUE_SWEDISH"/>
      <xsd:enumeration value="CODE_TG_VALUE_TAGALOG"/>
      <xsd:enumeration value="CODE_TN_VALUE_TAIWANESE"/>
      <xsd:enumeration value="CODE_TH_VALUE_THAI"/>
      <xsd:enumeration value="CODE_TU_VALUE_TURKISH"/>
      <xsd:enumeration value="CODE_UK_VALUE_UKRAINIAN"/>
      <xsd:enumeration value="CODE_VM_VALUE_VIETNAMESE"/>
      <xsd:enumeration value="CODE_YD_VALUE_YIDDISH"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="religionType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="CODE_AD_VALUE_ADVENTIST"/>
      <xsd:enumeration value="CODE_AM_VALUE_AFRICAN METHOD"/>
      <xsd:enumeration value="CODE_AN_VALUE_AGNOSTIC"/>
      <xsd:enumeration value="CODE_AZ_VALUE_AMER ZION CH"/>
      <xsd:enumeration value="CODE_AI_VALUE_AMISH"/>
      <xsd:enumeration value="CODE_AG_VALUE_ASSEMBLY OF GOD"/>
      <xsd:enumeration value="CODE_AT_VALUE_ATHEIST"/>
      <xsd:enumeration value="CODE_BA_VALUE_BAHA'I"/>
      <xsd:enumeration value="CODE_BP_VALUE_BAPTIST"/>
      <xsd:enumeration value="CODE_BR_VALUE_BRETHREN"/>
      <xsd:enumeration value="CODE_BU_VALUE_BUDDIST"/>
      <xsd:enumeration value="CODE_CA_VALUE_CATHOLIC"/>
      <xsd:enumeration value="CODE_CH_VALUE_CHRISTIAN"/>
      <xsd:enumeration value="CODE_CE_VALUE_CHRISTIAN METHO"/>
      <xsd:enumeration value="CODE_CO_VALUE_CHRISTIAN ORTHO"/>
      <xsd:enumeration value="CODE_CS_VALUE_CHRISTIAN SCIEN"/>
      <xsd:enumeration value="CODE_CM_VALUE_CHRSTN MISSIONA"/>
      <xsd:enumeration value="CODE_CC_VALUE_CHURCH CHRIST"/>
      <xsd:enumeration value="CODE_IC_VALUE_CHURCH GOOD IN"/>
      <xsd:enumeration value="CODE_CG_VALUE_CHURCH OF GOD"/>
      <xsd:enumeration value="CODE_CN_VALUE_CONGREGATIONAL"/>
      <xsd:enumeration value="CODE_DC_VALUE_DISCIPLES CHRIS"/>
      <xsd:enumeration value="CODE_EO_VALUE_EASTERN ORTHDOX"/>
      <xsd:enumeration value="CODE_EP_VALUE_EPISCOPAL"/>
      <xsd:enumeration value="CODE_EV_VALUE_EVANGELICAL FRE"/>
      <xsd:enumeration value="CODE_FS_VALUE_FOUR SQUARE"/>
      <xsd:enumeration value="CODE_FG_VALUE_FULL GOSPEL"/>
      <xsd:enumeration value="CODE_HE_VALUE_HEBREW"/>
      <xsd:enumeration value="CODE_HU_VALUE_HINDU"/>
      <xsd:enumeration value="CODE_HO_VALUE_HOLINESS"/>
      <xsd:enumeration value="CODE_HF_VALUE_HOLY FAMILY"/>
      <xsd:enumeration value="CODE_ID_VALUE_INTERDENOMINATI"/>
      <xsd:enumeration value="CODE_IS_VALUE_ISLAMIC"/>
      <xsd:enumeration value="CODE_JW_VALUE_JEHOVAH'S WITNE"/>
      <xsd:enumeration value="CODE_JE_VALUE_JEWISH"/>
      <xsd:enumeration value="CODE_JO_VALUE_JEWISH ORTHODOX"/>
      <xsd:enumeration value="CODE_LD_VALUE_LATTERDAY SAINT"/>
      <xsd:enumeration value="CODE_LU_VALUE_LUTHERAN"/>
      <xsd:enumeration value="CODE_MN_VALUE_MENNONITE"/>
      <xsd:enumeration value="CODE_ME_VALUE_METHODIST"/>
      <xsd:enumeration value="CODE_MR_VALUE_MORIVIAN"/>
      <xsd:enumeration value="CODE_MO_VALUE_MORMON"/>
      <xsd:enumeration value="CODE_MS_VALUE_MOSLEM"/>
      <xsd:enumeration value="CODE_NA_VALUE_NAZARENE"/>
      <xsd:enumeration value="CODE_NC_VALUE_NEIGHBORHOOD CH"/>
      <xsd:enumeration value="CODE_NP_VALUE_NO PREFERENCE"/>
      <xsd:enumeration value="CODE_ND_VALUE_NON-DENOMINATIO"/>
      <xsd:enumeration value="CODE_OE_VALUE_ORTHODOX(GREEK)"/>
      <xsd:enumeration value="CODE_OT_VALUE_OTHER"/>
      <xsd:enumeration value="CODE_PE_VALUE_PENTACOSTAL"/>
      <xsd:enumeration value="CODE_PS_VALUE_PRESBYTERIAN"/>
      <xsd:enumeration value="CODE_PR_VALUE_PROTESTANT"/>
      <xsd:enumeration value="CODE_QU_VALUE_QUAKER"/>
      <xsd:enumeration value="CODE_RE_VALUE_REORGANIZAT LDS"/>
      <xsd:enumeration value="CODE_RU_VALUE_RUSSIAN ORTHODO"/>
      <xsd:enumeration value="CODE_SA_VALUE_SALVATION ARMY"/>
      <xsd:enumeration value="CODE_SD_VALUE_SEVENTH DAY ADV"/>
      <xsd:enumeration value="CODE_SK_VALUE_SIKH"/>
      <!-- Removed the "Test" entry that exists in PBAR -->
      <xsd:enumeration value="CODE_UF_VALUE_UNITARIAN"/>
      <xsd:enumeration value="CODE_UU_VALUE_UNITARIAN UNIVE"/>
      <xsd:enumeration value="CODE_UC_VALUE_UNITED CHURCH O"/>
      <xsd:enumeration value="CODE_UN_VALUE_UNITY"/>
      <xsd:enumeration value="CODE_UK_VALUE_UNKNOWN"/>
      <xsd:enumeration value="CODE_WE_VALUE_WESLEYAN"/>
      <xsd:enumeration value="CODE_YA_VALUE_YAHWEH"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:complexType name="addressType">
    <xsd:choice maxOccurs="1" minOccurs="1">
      <xsd:element name="usAddress" type="usAddressType"/>
      <xsd:element name="canadianAddress" type="canadianAddressType"/>
      <xsd:element name="mexicanAddress" type="mexicanAddressType"/>
      <xsd:element name="nonUSNonCanadaAddress" type="nonUSNonCanadaAddressType"/>
    </xsd:choice>
  </xsd:complexType>

  <xsd:complexType name="usAddressType">
    <xsd:sequence>
      <xsd:element name="addressLine" type="addressLineType" minOccurs="1" maxOccurs="1" />
      <xsd:element name="city" minOccurs="1" maxOccurs="1" type="cityType"/>
      <xsd:element name="stateOrTerritory" type="usStateOrTerritoryType" minOccurs="1" maxOccurs="1" />
      <xsd:element name="zipCode" type="usAndMexicanZipCodeType" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="canadianAddressType">
    <xsd:sequence>
      <xsd:element name="addressLine" type="addressLineType" minOccurs="1" maxOccurs="1" />
      <xsd:element name="city" minOccurs="1" maxOccurs="1" type="cityType"/>
      <xsd:element name="province" type="canadianProvinceType" minOccurs="1" maxOccurs="1" />
      <xsd:element name="zipCode" type="canadianZipCodeType" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="mexicanAddressType">
    <xsd:sequence>
      <xsd:element name="addressLine" type="addressLineType" minOccurs="1" maxOccurs="1" />
      <xsd:element name="city" minOccurs="1" maxOccurs="1" type="cityType"/>
      <xsd:element name="state" type="mexicanStateType" minOccurs="1" maxOccurs="1" />
      <xsd:element name="zipCode" type="usAndMexicanZipCodeType" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="nonUSNonCanadaAddressType">
    <xsd:sequence>
      <xsd:element name="country" type="nonUSNonCanadaCountryType" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="addressLine" type="addressLineType" minOccurs="1" maxOccurs="1" />
      <xsd:element name="city" minOccurs="1" maxOccurs="1" type="cityType" />
      <xsd:element name="zipCode" type="internationalZipCodeType" minOccurs="0" maxOccurs="1" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:simpleType name="nonUSNonCanadaCountryType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="CODE_MEX_VALUE_Mexico"/>
      <xsd:enumeration value="CODE_ABW_VALUE_Aruba"/>
      <xsd:enumeration value="CODE_AFG_VALUE_Afghanistan"/>
      <xsd:enumeration value="CODE_AGO_VALUE_Angola"/>
      <xsd:enumeration value="CODE_AIA_VALUE_Anguilla"/>
      <xsd:enumeration value="CODE_ALA_VALUE_ALAND ISLANDS"/>
      <xsd:enumeration value="CODE_ALB_VALUE_Albania"/>
      <xsd:enumeration value="CODE_AND_VALUE_Andorra"/>
      <xsd:enumeration value="CODE_ANT_VALUE_Netherlands Antilles"/>
      <xsd:enumeration value="CODE_ARE_VALUE_United Arab Emirates"/>
      <xsd:enumeration value="CODE_ARG_VALUE_Argentina"/>
      <xsd:enumeration value="CODE_ARM_VALUE_Armenia"/>
      <xsd:enumeration value="CODE_ASM_VALUE_AMERICAN SAMOA"/>
      <xsd:enumeration value="CODE_ATA_VALUE_ANTARCTICA"/>
      <xsd:enumeration value="CODE_ATF_VALUE_FRENCH SO TERRITORIE"/>
      <xsd:enumeration value="CODE_ATG_VALUE_Antigua and Barbuda"/>
      <xsd:enumeration value="CODE_AUS_VALUE_Australia"/>
      <xsd:enumeration value="CODE_AUT_VALUE_Austria"/>
      <xsd:enumeration value="CODE_AZE_VALUE_Azerbaijan"/>
      <xsd:enumeration value="CODE_BDI_VALUE_Burundi"/>
      <xsd:enumeration value="CODE_BEL_VALUE_Belgium"/>
      <xsd:enumeration value="CODE_BEN_VALUE_Benin"/>
      <xsd:enumeration value="CODE_BFA_VALUE_Burkina Faso"/>
      <xsd:enumeration value="CODE_BGD_VALUE_Bangladesh"/>
      <xsd:enumeration value="CODE_BGR_VALUE_Bulgaria"/>
      <xsd:enumeration value="CODE_BHR_VALUE_Bahrain"/>
      <xsd:enumeration value="CODE_BHS_VALUE_Bahamas"/>
      <xsd:enumeration value="CODE_BIH_VALUE_BOSNIA and HERZEGOVI"/>
      <xsd:enumeration value="CODE_BLM_VALUE_SAINT-BARTHELEMY"/>
      <xsd:enumeration value="CODE_BLR_VALUE_Belarus"/>
      <xsd:enumeration value="CODE_BLZ_VALUE_Belize"/>
      <xsd:enumeration value="CODE_BMU_VALUE_Bermuda"/>
      <xsd:enumeration value="CODE_BOL_VALUE_Bolivia"/>
      <xsd:enumeration value="CODE_BRA_VALUE_Brazil"/>
      <xsd:enumeration value="CODE_BRB_VALUE_Barbados"/>
      <xsd:enumeration value="CODE_BRN_VALUE_Brunei Darussalam"/>
      <xsd:enumeration value="CODE_BTN_VALUE_Bhutan"/>
      <xsd:enumeration value="CODE_BVT_VALUE_BOUVET ISLAND"/>
      <xsd:enumeration value="CODE_BWA_VALUE_Botswana"/>
      <xsd:enumeration value="CODE_CAF_VALUE_Central African Repu"/>
      <xsd:enumeration value="CODE_CCK_VALUE_COCOS ISLANDS"/>
      <xsd:enumeration value="CODE_CHE_VALUE_Switzerland"/>
      <xsd:enumeration value="CODE_CHL_VALUE_Chile"/>
      <xsd:enumeration value="CODE_CHN_VALUE_China"/>
      <xsd:enumeration value="CODE_CIV_VALUE_Cote d'Ivoire"/>
      <xsd:enumeration value="CODE_CMR_VALUE_Cameroon"/>
      <xsd:enumeration value="CODE_COD_VALUE_CONGO DEMOCRAT REPUB"/>
      <xsd:enumeration value="CODE_COG_VALUE_Congo (BRAZZAVILLE)"/>
      <xsd:enumeration value="CODE_COK_VALUE_Cook Islands"/>
      <xsd:enumeration value="CODE_COL_VALUE_Colombia"/>
      <xsd:enumeration value="CODE_COM_VALUE_Comoros"/>
      <xsd:enumeration value="CODE_CPV_VALUE_Cape Verde"/>
      <xsd:enumeration value="CODE_CRI_VALUE_Costa Rica"/>
      <xsd:enumeration value="CODE_CUB_VALUE_Cuba"/>
      <xsd:enumeration value="CODE_CXR_VALUE_CHRISTMAS ISLANDS"/>
      <xsd:enumeration value="CODE_CYM_VALUE_Cayman Islands"/>
      <xsd:enumeration value="CODE_CYP_VALUE_Cyprus"/>
      <xsd:enumeration value="CODE_CZE_VALUE_Czech Republic"/>
      <xsd:enumeration value="CODE_DEU_VALUE_Germany"/>
      <xsd:enumeration value="CODE_DJI_VALUE_Djibouti"/>
      <xsd:enumeration value="CODE_DMA_VALUE_Dominica"/>
      <xsd:enumeration value="CODE_DNK_VALUE_Denmark"/>
      <xsd:enumeration value="CODE_DOM_VALUE_Dominican Republic"/>
      <xsd:enumeration value="CODE_DZA_VALUE_Algeria"/>
      <xsd:enumeration value="CODE_ECU_VALUE_Ecuador"/>
      <xsd:enumeration value="CODE_EGY_VALUE_Egypt"/>
      <xsd:enumeration value="CODE_ERI_VALUE_Eritrea"/>
      <xsd:enumeration value="CODE_ESH_VALUE_Western Sahara"/>
      <xsd:enumeration value="CODE_ESP_VALUE_Spain"/>
      <xsd:enumeration value="CODE_EST_VALUE_Estonia"/>
      <xsd:enumeration value="CODE_ETH_VALUE_Ethiopia"/>
      <xsd:enumeration value="CODE_FIN_VALUE_Finland"/>
      <xsd:enumeration value="CODE_FJI_VALUE_Fiji"/>
      <xsd:enumeration value="CODE_FLK_VALUE_Falkland Islands (Ma"/>
      <xsd:enumeration value="CODE_FRA_VALUE_France"/>
      <xsd:enumeration value="CODE_FRO_VALUE_Faroe Islands"/>
      <xsd:enumeration value="CODE_FSM_VALUE_MICRONESIA FEDERATED"/>
      <xsd:enumeration value="CODE_GAB_VALUE_Gabon"/>
      <xsd:enumeration value="CODE_GBR_VALUE_United Kingdom"/>
      <xsd:enumeration value="CODE_GEO_VALUE_Georgia"/>
      <xsd:enumeration value="CODE_GGY_VALUE_GUERNSEY"/>
      <xsd:enumeration value="CODE_GHA_VALUE_Ghana"/>
      <xsd:enumeration value="CODE_GIB_VALUE_Gibraltar"/>
      <xsd:enumeration value="CODE_GIN_VALUE_Guinea"/>
      <xsd:enumeration value="CODE_GLP_VALUE_Guadeloupe"/>
      <xsd:enumeration value="CODE_GMB_VALUE_Gambia"/>
      <xsd:enumeration value="CODE_GNB_VALUE_Guinea-Bissau"/>
      <xsd:enumeration value="CODE_GNQ_VALUE_Equatorial Guinea"/>
      <xsd:enumeration value="CODE_GRC_VALUE_Greece"/>
      <xsd:enumeration value="CODE_GRD_VALUE_Grenada"/>
      <xsd:enumeration value="CODE_GRL_VALUE_Greenland"/>
      <xsd:enumeration value="CODE_GTM_VALUE_Guatemala"/>
      <xsd:enumeration value="CODE_GUF_VALUE_French Guiana"/>
      <xsd:enumeration value="CODE_GUY_VALUE_Guyana"/>
      <xsd:enumeration value="CODE_HKG_VALUE_Hong Kong Special Ad"/>
      <xsd:enumeration value="CODE_HMD_VALUE_HEARD ISLAND/MCDONAL"/>
      <xsd:enumeration value="CODE_HND_VALUE_Honduras"/>
      <xsd:enumeration value="CODE_HRV_VALUE_Croatia"/>
      <xsd:enumeration value="CODE_HTI_VALUE_Haiti"/>
      <xsd:enumeration value="CODE_HUN_VALUE_Hungary"/>
      <xsd:enumeration value="CODE_IDN_VALUE_Indonesia"/>
      <xsd:enumeration value="CODE_IMN_VALUE_ISLE OF MAN"/>
      <xsd:enumeration value="CODE_IND_VALUE_India"/>
      <xsd:enumeration value="CODE_IOT_VALUE_BRITISH INDIAN OCEAN"/>
      <xsd:enumeration value="CODE_IRL_VALUE_Ireland"/>
      <xsd:enumeration value="CODE_IRN_VALUE_Iran (Islamic Republ"/>
      <xsd:enumeration value="CODE_IRQ_VALUE_Iraq"/>
      <xsd:enumeration value="CODE_ISL_VALUE_Iceland"/>
      <xsd:enumeration value="CODE_ISR_VALUE_Israel"/>
      <xsd:enumeration value="CODE_ITA_VALUE_Italy"/>
      <xsd:enumeration value="CODE_JAM_VALUE_Jamaica"/>
      <xsd:enumeration value="CODE_JEY_VALUE_JERSEY"/>
      <xsd:enumeration value="CODE_JOR_VALUE_Jordan"/>
      <xsd:enumeration value="CODE_JPN_VALUE_Japan"/>
      <xsd:enumeration value="CODE_KAZ_VALUE_Kazakhstan"/>
      <xsd:enumeration value="CODE_KEN_VALUE_Kenya"/>
      <xsd:enumeration value="CODE_KGZ_VALUE_Kyrgyzstan"/>
      <xsd:enumeration value="CODE_KHM_VALUE_Cambodia"/>
      <xsd:enumeration value="CODE_KIR_VALUE_Kiribati"/>
      <xsd:enumeration value="CODE_KNA_VALUE_Saint Kittsand Nevis"/>
      <xsd:enumeration value="CODE_KOR_VALUE_Republic of Korea"/>
      <xsd:enumeration value="CODE_KWT_VALUE_Kuwait"/>
      <xsd:enumeration value="CODE_LAO_VALUE_Lao People's Democra"/>
      <xsd:enumeration value="CODE_LBN_VALUE_Lebanon"/>
      <xsd:enumeration value="CODE_LBR_VALUE_Liberia"/>
      <xsd:enumeration value="CODE_LBY_VALUE_Libyan Arab Jamahiri"/>
      <xsd:enumeration value="CODE_LCA_VALUE_Saint Lucia"/>
      <xsd:enumeration value="CODE_LIE_VALUE_Liechtenstein"/>
      <xsd:enumeration value="CODE_LKA_VALUE_Sri Lanka"/>
      <xsd:enumeration value="CODE_LSO_VALUE_Lesotho"/>
      <xsd:enumeration value="CODE_LTU_VALUE_Lithuania"/>
      <xsd:enumeration value="CODE_LUX_VALUE_Luxembourg"/>
      <xsd:enumeration value="CODE_LVA_VALUE_Latvia"/>
      <xsd:enumeration value="CODE_MAC_VALUE_Macao Special Admini"/>
      <xsd:enumeration value="CODE_MAF_VALUE_ST-MARTIN (FRENCH PA"/>
      <xsd:enumeration value="CODE_MAR_VALUE_Morocco"/>
      <xsd:enumeration value="CODE_MCO_VALUE_Monaco"/>
      <xsd:enumeration value="CODE_MDA_VALUE_Moldova"/>
      <xsd:enumeration value="CODE_MDG_VALUE_Madagascar"/>
      <xsd:enumeration value="CODE_MDV_VALUE_Maldives"/>
      <xsd:enumeration value="CODE_MHL_VALUE_MARSHALL ISLANDS"/>
      <xsd:enumeration value="CODE_MKD_VALUE_MACEDONIA REPUBLIC O"/>
      <xsd:enumeration value="CODE_MLI_VALUE_Mali"/>
      <xsd:enumeration value="CODE_MLT_VALUE_Malta"/>
      <xsd:enumeration value="CODE_MMR_VALUE_Myanmar"/>
      <xsd:enumeration value="CODE_MNE_VALUE_MONTENEGRO"/>
      <xsd:enumeration value="CODE_MNG_VALUE_Mongolia"/>
      <xsd:enumeration value="CODE_MNP_VALUE_Northern Mariana Isl"/>
      <xsd:enumeration value="CODE_MOZ_VALUE_Mozambique"/>
      <xsd:enumeration value="CODE_MRT_VALUE_Mauritania"/>
      <xsd:enumeration value="CODE_MSR_VALUE_Montserrat"/>
      <xsd:enumeration value="CODE_MTQ_VALUE_Martinique"/>
      <xsd:enumeration value="CODE_MUS_VALUE_Mauritius"/>
      <xsd:enumeration value="CODE_MWI_VALUE_Malawi"/>
      <xsd:enumeration value="CODE_MYS_VALUE_Malaysia"/>
      <xsd:enumeration value="CODE_MYT_VALUE_MAYOTTE"/>
      <xsd:enumeration value="CODE_NAM_VALUE_Namibia"/>
      <xsd:enumeration value="CODE_NCL_VALUE_New Caledonia"/>
      <xsd:enumeration value="CODE_NER_VALUE_Niger"/>
      <xsd:enumeration value="CODE_NFK_VALUE_Norfolk Island"/>
      <xsd:enumeration value="CODE_NGA_VALUE_Nigeria"/>
      <xsd:enumeration value="CODE_NIC_VALUE_Nicaragua"/>
      <xsd:enumeration value="CODE_NIU_VALUE_Niue"/>
      <xsd:enumeration value="CODE_NLD_VALUE_Netherlands"/>
      <xsd:enumeration value="CODE_NOR_VALUE_Norway"/>
      <xsd:enumeration value="CODE_NPL_VALUE_Nepal"/>
      <xsd:enumeration value="CODE_NRU_VALUE_Nauru"/>
      <xsd:enumeration value="CODE_NZL_VALUE_New Zealand"/>
      <xsd:enumeration value="CODE_OMN_VALUE_Oman"/>
      <xsd:enumeration value="CODE_PAK_VALUE_Pakistan"/>
      <xsd:enumeration value="CODE_PAN_VALUE_Panama"/>
      <xsd:enumeration value="CODE_PCN_VALUE_Pitcairn"/>
      <xsd:enumeration value="CODE_PER_VALUE_Peru"/>
      <xsd:enumeration value="CODE_PHL_VALUE_Philippines"/>
      <xsd:enumeration value="CODE_PLW_VALUE_Palau"/>
      <xsd:enumeration value="CODE_PNG_VALUE_Papua New Guinea"/>
      <xsd:enumeration value="CODE_POL_VALUE_Poland"/>
      <xsd:enumeration value="CODE_PRI_VALUE_PUERTO RICO"/>
      <xsd:enumeration value="CODE_PRK_VALUE_Democratic People's"/>
      <xsd:enumeration value="CODE_PRT_VALUE_Portugal"/>
      <xsd:enumeration value="CODE_PRY_VALUE_Paraguay"/>
      <xsd:enumeration value="CODE_PSE_VALUE_Occupied Palestinian"/>
      <xsd:enumeration value="CODE_PYF_VALUE_French Polynesia"/>
      <xsd:enumeration value="CODE_QAT_VALUE_Qatar"/>
      <xsd:enumeration value="CODE_REU_VALUE_Reunion"/>
      <xsd:enumeration value="CODE_ROU_VALUE_Romania"/>
      <xsd:enumeration value="CODE_RUS_VALUE_Russian Federation"/>
      <xsd:enumeration value="CODE_RWA_VALUE_Rwanda"/>
      <xsd:enumeration value="CODE_SAU_VALUE_Saudi Arabia"/>
      <xsd:enumeration value="CODE_SDN_VALUE_Sudan"/>
      <xsd:enumeration value="CODE_SEN_VALUE_Senegal"/>
      <xsd:enumeration value="CODE_SGP_VALUE_Singapore"/>
      <xsd:enumeration value="CODE_SGS_VALUE_SO GEORGIA/SOUTH SAN"/>
      <xsd:enumeration value="CODE_SHN_VALUE_Saint Helena"/>
      <xsd:enumeration value="CODE_SJM_VALUE_Svalbard and Jan May"/>
      <xsd:enumeration value="CODE_SLB_VALUE_Solomon Islands"/>
      <xsd:enumeration value="CODE_SLE_VALUE_Sierra Leone"/>
      <xsd:enumeration value="CODE_SLV_VALUE_El Salvador"/>
      <xsd:enumeration value="CODE_SMR_VALUE_San Marino"/>
      <xsd:enumeration value="CODE_SOM_VALUE_Somalia"/>
      <xsd:enumeration value="CODE_SPM_VALUE_Saint Pierre and Miq"/>
      <xsd:enumeration value="CODE_SRB_VALUE_SERBIA"/>
      <xsd:enumeration value="CODE_STP_VALUE_Sao Tome and Princip"/>
      <xsd:enumeration value="CODE_SUR_VALUE_Suriname"/>
      <xsd:enumeration value="CODE_SVK_VALUE_Slovakia"/>
      <xsd:enumeration value="CODE_SVN_VALUE_Slovenia"/>
      <xsd:enumeration value="CODE_SWE_VALUE_Sweden"/>
      <xsd:enumeration value="CODE_SWZ_VALUE_Swaziland"/>
      <xsd:enumeration value="CODE_SYC_VALUE_Seychelles"/>
      <xsd:enumeration value="CODE_SYR_VALUE_Syrian Arab Republic"/>
      <xsd:enumeration value="CODE_TCA_VALUE_Turks and Caicos Isl"/>
      <xsd:enumeration value="CODE_TCD_VALUE_Chad"/>
      <xsd:enumeration value="CODE_TGO_VALUE_Togo"/>
      <xsd:enumeration value="CODE_THA_VALUE_Thailand"/>
      <xsd:enumeration value="CODE_TJK_VALUE_Tajikistan"/>
      <xsd:enumeration value="CODE_TKL_VALUE_Tokelau"/>
      <xsd:enumeration value="CODE_TKM_VALUE_Turkmenistan"/>
      <xsd:enumeration value="CODE_TLS_VALUE_TIMOR-LESTE"/>
      <xsd:enumeration value="CODE_TON_VALUE_Tonga"/>
      <xsd:enumeration value="CODE_TTO_VALUE_Trinidad and Tobago"/>
      <xsd:enumeration value="CODE_TUN_VALUE_Tunisia"/>
      <xsd:enumeration value="CODE_TUR_VALUE_Turkey"/>
      <xsd:enumeration value="CODE_TUV_VALUE_Tuvalu"/>
      <xsd:enumeration value="CODE_TWN_VALUE_Taiwan Province of C"/>
      <xsd:enumeration value="CODE_TZA_VALUE_United Republic of T"/>
      <xsd:enumeration value="CODE_UGA_VALUE_Uganda"/>
      <xsd:enumeration value="CODE_UKR_VALUE_Ukraine"/>
      <xsd:enumeration value="CODE_UMI_VALUE_U.S. MINOR OUTLYING"/>
      <xsd:enumeration value="CODE_URY_VALUE_Uruguay"/>
      <xsd:enumeration value="CODE_UZB_VALUE_Uzbekistan"/>
      <xsd:enumeration value="CODE_VAT_VALUE_Holy See"/>
      <xsd:enumeration value="CODE_VCT_VALUE_Saint Vincent and th"/>
      <xsd:enumeration value="CODE_VEN_VALUE_Venezuela"/>
      <xsd:enumeration value="CODE_VGB_VALUE_British Virgin Islan"/>
      <xsd:enumeration value="CODE_VIR_VALUE_VIRGIN ISLANDS U.S."/>
      <xsd:enumeration value="CODE_VNM_VALUE_Viet Nam"/>
      <xsd:enumeration value="CODE_VUT_VALUE_Vanuatu"/>
      <xsd:enumeration value="CODE_WLF_VALUE_Wallisand Futuna Isl"/>
      <xsd:enumeration value="CODE_YEM_VALUE_Yemen"/>
      <xsd:enumeration value="CODE_ZAF_VALUE_South Africa"/>
      <xsd:enumeration value="CODE_ZMB_VALUE_Zambia"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="addressLineType">
    <xsd:restriction base="startWithLetterOrNumberRestLettersNumbersSpaceHyphenPeriod">
      <xsd:minLength value="1"/>
      <xsd:maxLength value="25"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="cityType">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1"/>
      <xsd:maxLength value="25"/>
      <xsd:pattern value="[A-Z][ A-Z\-.]*"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="usStateOrTerritoryType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="CODE_AL_VALUE_ALABAMA"/>
      <xsd:enumeration value="CODE_AK_VALUE_ALASKA"/>
      <xsd:enumeration value="CODE_AS_VALUE_AMERICAN SAMOA"/>
      <xsd:enumeration value="CODE_AZ_VALUE_ARIZONA"/>
      <xsd:enumeration value="CODE_AR_VALUE_ARKANSAS"/>
      <xsd:enumeration value="CODE_AA_VALUE_ARMED FORCES AMERICA"/>
      <xsd:enumeration value="CODE_AE_VALUE_ARMED FORCES EUROPE"/>
      <xsd:enumeration value="CODE_AP_VALUE_ARMED FORCES PACIFIC"/>
      <xsd:enumeration value="CODE_CA_VALUE_CALIFORNIA"/>
      <xsd:enumeration value="CODE_CO_VALUE_COLORADO"/>
      <xsd:enumeration value="CODE_CT_VALUE_CONNECTICUT"/>
      <xsd:enumeration value="CODE_DE_VALUE_DELAWARE"/>
      <xsd:enumeration value="CODE_DC_VALUE_DISTRICT OF COLUMBIA"/>
      <xsd:enumeration value="CODE_FM_VALUE_FED STATES/MICRONESI"/>
      <xsd:enumeration value="CODE_FL_VALUE_FLORIDA"/>
      <xsd:enumeration value="CODE_GA_VALUE_GEORGIA"/>
      <xsd:enumeration value="CODE_GU_VALUE_GUAM"/>
      <xsd:enumeration value="CODE_HI_VALUE_HAWAII"/>
      <xsd:enumeration value="CODE_ID_VALUE_IDAHO"/>
      <xsd:enumeration value="CODE_IL_VALUE_ILLINOIS"/>
      <xsd:enumeration value="CODE_IN_VALUE_INDIANA"/>
      <xsd:enumeration value="CODE_IA_VALUE_IOWA"/>
      <xsd:enumeration value="CODE_KS_VALUE_KANSAS"/>
      <xsd:enumeration value="CODE_KY_VALUE_KENTUCKY"/>
      <xsd:enumeration value="CODE_LA_VALUE_LOUISIANA"/>
      <xsd:enumeration value="CODE_ME_VALUE_MAINE"/>
      <xsd:enumeration value="CODE_MH_VALUE_MARSHALL ISLANDS"/>
      <xsd:enumeration value="CODE_MD_VALUE_MARYLAND"/>
      <xsd:enumeration value="CODE_MA_VALUE_MASSACHUSETTS"/>
      <xsd:enumeration value="CODE_MI_VALUE_MICHIGAN"/>
      <xsd:enumeration value="CODE_MN_VALUE_MINNESOTA"/>
      <xsd:enumeration value="CODE_MS_VALUE_MISSISSIPPI"/>
      <xsd:enumeration value="CODE_MO_VALUE_MISSOURI"/>
      <xsd:enumeration value="CODE_MT_VALUE_MONTANA"/>
      <xsd:enumeration value="CODE_NE_VALUE_NEBRASKA"/>
      <xsd:enumeration value="CODE_NV_VALUE_NEVADA"/>
      <xsd:enumeration value="CODE_NH_VALUE_NEW HAMPSHIRE"/>
      <xsd:enumeration value="CODE_NJ_VALUE_NEW JERSEY"/>
      <xsd:enumeration value="CODE_NM_VALUE_NEW MEXICO"/>
      <xsd:enumeration value="CODE_NY_VALUE_NEW YORK"/>
      <xsd:enumeration value="CODE_MP_VALUE_NO. MARIANA ISLANDS"/>
      <xsd:enumeration value="CODE_NC_VALUE_NORTH CAROLINA"/>
      <xsd:enumeration value="CODE_ND_VALUE_NORTH DAKOTA"/>
      <xsd:enumeration value="CODE_OH_VALUE_OHIO"/>
      <xsd:enumeration value="CODE_OK_VALUE_OKLAHOMA"/>
      <xsd:enumeration value="CODE_OR_VALUE_OREGON"/>
      <xsd:enumeration value="CODE_PW_VALUE_PALAU"/>
      <xsd:enumeration value="CODE_PA_VALUE_PENNSYLVANIA"/>
      <xsd:enumeration value="CODE_PR_VALUE_PUERTO RICO"/>
      <xsd:enumeration value="CODE_RI_VALUE_RHODE ISLAND"/>
      <xsd:enumeration value="CODE_SC_VALUE_SOUTH CAROLINA"/>
      <xsd:enumeration value="CODE_SD_VALUE_SOUTH DAKOTA"/>
      <xsd:enumeration value="CODE_TN_VALUE_TENNESSEE"/>
      <xsd:enumeration value="CODE_TX_VALUE_TEXAS"/>
      <xsd:enumeration value="CODE_UT_VALUE_UTAH"/>
      <xsd:enumeration value="CODE_VT_VALUE_VERMONT"/>
      <xsd:enumeration value="CODE_VI_VALUE_VIRGIN ISLANDS"/>
      <xsd:enumeration value="CODE_VA_VALUE_VIRGINIA"/>
      <xsd:enumeration value="CODE_79_VALUE_WAKE ISLAND"/>
      <xsd:enumeration value="CODE_WA_VALUE_WASHINGTON"/>
      <xsd:enumeration value="CODE_WV_VALUE_WEST VIRGINIA"/>
      <xsd:enumeration value="CODE_WI_VALUE_WISCONSIN"/>
      <xsd:enumeration value="CODE_WY_VALUE_WYOMING"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="canadianProvinceType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="CODE_AB_VALUE_ALBERTA"/>
      <xsd:enumeration value="CODE_BC_VALUE_BRITISH COLUMBIA"/>
      <xsd:enumeration value="CODE_MB_VALUE_MANITOBA"/>
      <xsd:enumeration value="CODE_NB_VALUE_NEW BRUNSWICK"/>
      <xsd:enumeration value="CODE_NF_VALUE_NEWFOUNDLAND"/>
      <xsd:enumeration value="CODE_NT_VALUE_NORTH WEST TERRITORI"/>
      <xsd:enumeration value="CODE_NS_VALUE_NOVA SCOTIA"/>
      <xsd:enumeration value="CODE_NU_VALUE_NUNAVUT"/>
      <xsd:enumeration value="CODE_ON_VALUE_ONTARIO"/>
      <xsd:enumeration value="CODE_PE_VALUE_PRINCE EDWARD ISLAND"/>
      <xsd:enumeration value="CODE_PQ_VALUE_QUEBEC"/>
      <xsd:enumeration value="CODE_SK_VALUE_SASKATCHEWAN"/>
      <xsd:enumeration value="CODE_YT_VALUE_YUKON"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="mexicanStateType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="CODE_AG_VALUE_AGUASCALIENTES"/>
      <xsd:enumeration value="CODE_BJ_VALUE_BAJA CALIFORNIA N"/>
      <xsd:enumeration value="CODE_BS_VALUE_BAJA CALIFORNIA S"/>
      <xsd:enumeration value="CODE_CP_VALUE_CAMPECHE"/>
      <xsd:enumeration value="CODE_CH_VALUE_CHIAPAS"/>
      <xsd:enumeration value="CODE_CI_VALUE_CHIHUAHUA"/>
      <xsd:enumeration value="CODE_CU_VALUE_COAHUILA"/>
      <xsd:enumeration value="CODE_CL_VALUE_COLIMA"/>
      <xsd:enumeration value="CODE_DF_VALUE_DISTRITO FEDERAL"/>
      <xsd:enumeration value="CODE_DG_VALUE_DURANGO"/>
      <xsd:enumeration value="CODE_MX_VALUE_ESTADO DE MEXICO"/>
      <xsd:enumeration value="CODE_GJ_VALUE_GUANAJUATO"/>
      <xsd:enumeration value="CODE_GR_VALUE_GUERRERO"/>
      <xsd:enumeration value="CODE_HG_VALUE_HIDALGO"/>
      <xsd:enumeration value="CODE_JA_VALUE_JALISCO"/>
      <xsd:enumeration value="CODE_EM_VALUE_MEXICO CITY"/>
      <xsd:enumeration value="CODE_MC_VALUE_MICHOACAN"/>
      <xsd:enumeration value="CODE_MR_VALUE_MORELOS"/>
      <xsd:enumeration value="CODE_NA_VALUE_NAYARIT"/>
      <xsd:enumeration value="CODE_NL_VALUE_NUEVO LEON"/>
      <xsd:enumeration value="CODE_OA_VALUE_OAXACA"/>
      <xsd:enumeration value="CODE_PU_VALUE_PUEBLA"/>
      <xsd:enumeration value="CODE_QA_VALUE_QUERETARO"/>
      <xsd:enumeration value="CODE_QR_VALUE_QUINTANA ROO"/>
      <xsd:enumeration value="CODE_SL_VALUE_SAN LUIS POTOSI"/>
      <xsd:enumeration value="CODE_SI_VALUE_SINALOA"/>
      <xsd:enumeration value="CODE_SO_VALUE_SONORA"/>
      <xsd:enumeration value="CODE_TA_VALUE_TABASCO"/>
      <xsd:enumeration value="CODE_TM_VALUE_TAMAULIPAS"/>
      <xsd:enumeration value="CODE_TL_VALUE_TLAXCALA"/>
      <xsd:enumeration value="CODE_VZ_VALUE_VERACRUZ"/>
      <xsd:enumeration value="CODE_YC_VALUE_YUCATAN"/>
      <xsd:enumeration value="CODE_ZT_VALUE_ZACATECAS"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="usAndMexicanZipCodeType">
    <xsd:annotation>
      <xsd:documentation>
        The zip code can be a 5 digit code or a 9 digit code e.g
        12345 is valid
        12345-1234 is valid

        12345- is not valid
        12345-123 is not valid
        12345-12345 is not valid
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[0-9]{5}(-[0-9]{4})?"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="canadianZipCodeType">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[ABCEGHJKLMNPRSTVXY][0-9][A-Z] [0-9][A-Z][0-9]"/>
      <xsd:length value="7"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="internationalZipCodeType">
    <xsd:restriction base="startWithLetterOrNumberRestLettersNumbersSpaceHyphen">
      <xsd:minLength value="1" />
      <xsd:maxLength value="9" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="telephoneNumberType">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="\d{3,3}-\d{3,3}-\d{4,4}"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="emailAddressType">
    <xsd:annotation>
      <xsd:documentation>

        This regular expression is taken from Chapter 4 of Regular Expressions by Jan Goyvaerts and Steven Levithan).
        The original regular expression was modified to reject certain character not accepted by Patient Access
        ("^" and "|" in the user name and "-" in the domain name).
        The original regular expression (after making it acceptable to xml) is
        [\w! #$%&amp;&apos; *+/=?` { }~.-]+@[A-Z0-9.]+\r\n\r\n[\w! #$%&amp;&apos; *+/=?` {| }~^.-]+@[A-Z0-9.-]+

      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:pattern
  			value="[\w! #$%&amp;&apos; *+/=?` { }~.-]+@[A-Z0-9.]+"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="industryType">
    <xsd:restriction base="startWithLetterRestLettersNumbersSpaceHyphen">
      <xsd:minLength value="1"/>
      <xsd:maxLength value="14"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="procedureType">
    <xsd:restriction base="startWithLetterOrNumberRestLettersNumbersSpaceHyphenPeriod">
      <xsd:minLength value="1"/>
      <xsd:maxLength value="74"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:complexType name="emergencyContactType">
    <xsd:sequence>
      <xsd:element name="name" type="nameWithComma" minOccurs="1" maxOccurs="1" />
      <xsd:element name="address" type="addressType" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="relationship" type="relationshipType"/>
      <xsd:element name="phoneNumber" type="telephoneNumberType" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:simpleType name="relationshipType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="CODE_01_VALUE_SELF"/>
      <xsd:enumeration value="CODE_02_VALUE_SPOUSE"/>
      <xsd:enumeration value="CODE_03_VALUE_NATURAL CHILD"/>
      <xsd:enumeration value="CODE_04_VALUE_NATURAL CHILD-NO FINANCIA"/>
      <xsd:enumeration value="CODE_05_VALUE_STEP CHILD"/>
      <xsd:enumeration value="CODE_06_VALUE_FOSTER CHILD"/>
      <xsd:enumeration value="CODE_07_VALUE_WARD OF THE COURT"/>
      <xsd:enumeration value="CODE_08_VALUE_EMPLOYEE"/>
      <xsd:enumeration value="CODE_09_VALUE_UNKNOWN"/>
      <xsd:enumeration value="CODE_10_VALUE_HANDICAPPED DEPENDENT"/>
      <xsd:enumeration value="CODE_11_VALUE_ORGAN DONOR"/>
      <xsd:enumeration value="CODE_12_VALUE_CADAVER DONOR"/>
      <xsd:enumeration value="CODE_13_VALUE_GRANDCHILD"/>
      <xsd:enumeration value="CODE_14_VALUE_NIECE/NEPHEW"/>
      <xsd:enumeration value="CODE_15_VALUE_INJURED PLANTIFF"/>
      <xsd:enumeration value="CODE_16_VALUE_SPONSORED DEPENDENT"/>
      <xsd:enumeration value="CODE_17_VALUE_MINOR DEP.OF A MINOR DEPN"/>
      <xsd:enumeration value="CODE_18_VALUE_PARENT (OBSOLETE)"/>
      <xsd:enumeration value="CODE_19_VALUE_GRANDPARENT"/>
      <xsd:enumeration value="CODE_20_VALUE_LIFE PARTNER"/>
      <xsd:enumeration value="CODE_24_VALUE_FRIEND"/>
      <xsd:enumeration value="CODE_25_VALUE_BROTHER"/>
      <xsd:enumeration value="CODE_26_VALUE_SISTER"/>
      <xsd:enumeration value="CODE_27_VALUE_BROTHER-IN-LAW"/>
      <xsd:enumeration value="CODE_28_VALUE_SISTER-IN-LAW"/>
      <xsd:enumeration value="CODE_29_VALUE_MOTHER-IN-LAW"/>
      <xsd:enumeration value="CODE_30_VALUE_FATHER-IN-LAW"/>
      <xsd:enumeration value="CODE_31_VALUE_GUARDIAN"/>
      <xsd:enumeration value="CODE_32_VALUE_CONSERVATOR"/>
      <xsd:enumeration value="CODE_33_VALUE_POWER OF ATTORNEY"/>
      <xsd:enumeration value="CODE_34_VALUE_NEIGHBOR"/>
      <xsd:enumeration value="CODE_35_VALUE_EMPLOYER"/>
      <xsd:enumeration value="CODE_36_VALUE_FIANCE"/>
      <xsd:enumeration value="CODE_37_VALUE_UNCLE"/>
      <xsd:enumeration value="CODE_38_VALUE_AUNT"/>
      <xsd:enumeration value="CODE_39_VALUE_COUSIN"/>
      <xsd:enumeration value="CODE_40_VALUE_CARETAKER"/>
      <xsd:enumeration value="CODE_41_VALUE_SIGNIFICANT OTHER"/>
      <xsd:enumeration value="CODE_42_VALUE_STEP PARENT"/>
      <xsd:enumeration value="CODE_43_VALUE_EXHUSBAND"/>
      <xsd:enumeration value="CODE_44_VALUE_EXWIFE"/>
      <xsd:enumeration value="CODE_45_VALUE_SON-IN-LAW"/>
      <xsd:enumeration value="CODE_46_VALUE_DAUGHTER-IN-LAW"/>
      <xsd:enumeration value="CODE_47_VALUE_EMPLOYEE FAMILY MEMBER"/>
      <xsd:enumeration value="CODE_48_VALUE_STAFF &amp;/OR PHYSICIAN"/>
      <xsd:enumeration value="CODE_49_VALUE_MOTHER"/>
      <xsd:enumeration value="CODE_50_VALUE_FATHER"/>
      <xsd:enumeration value="CODE_51_VALUE_EMANCIPATED MINOR"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:complexType name="insuranceType">
    <xsd:sequence>
      <xsd:element name="companyName" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Currently patient access is not directly populating this field therefore it is not being restricted to upper case letters for now</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="40"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="preCertificationTelephoneNumber" type="telephoneNumberType" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="subscriberName" type="nameType" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="subscriberSocialSecurityNumber" type="socialSecurityNumberType" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="subscriberDateOfBirth" type="xsd:date" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="policyNumber" minOccurs="1" maxOccurs="1">
        <xsd:simpleType>
            <xsd:restriction base="lettersNumberSpaceAndHyphen">
                <xsd:minLength value="1" />
                <xsd:maxLength value="20" />
            </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="policyGroupName" minOccurs="0" maxOccurs="1">
        <xsd:simpleType>
          <xsd:restriction base="lettersNumberSpaceAndHyphen">
            <xsd:minLength value="1" />
            <xsd:maxLength value="40" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="address" type="addressType" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="phoneNumber" type="telephoneNumberType" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="guarantorType">
    <xsd:sequence>
      <xsd:element name="name" minOccurs="1" maxOccurs="1" type="nameType" />
      <xsd:element name="relationship" type="relationshipType" minOccurs="1" maxOccurs="1" />
      <xsd:element name="socialSecurityNumber" type="socialSecurityNumberType" minOccurs="0" maxOccurs="1" />
      <xsd:element name="address" type="addressType" minOccurs="0" maxOccurs="1" />
      <xsd:element name="phoneNumber" type="telephoneNumberType" minOccurs="1" maxOccurs="1" />
      <xsd:element name="businessPhoneNumber" type="telephoneNumberType" minOccurs="0" maxOccurs="1" />
      <xsd:element name="employment" type="employmentType" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="preferredLanguageType">
    <xsd:annotation>
      <xsd:documentation>In case of California facilities other language will be specified by using the otherLanguage type. This is done to enforce the rule that when other language is specified for California then the name of that language should also be given</xsd:documentation>
    </xsd:annotation>
    <xsd:choice>
      <xsd:element name="predefinedLanguge" type="languageType"/>
      <xsd:element name="otherLanguage" type="otherLanguageType"/>
    </xsd:choice>
  </xsd:complexType>

  <xsd:simpleType name="otherLanguageType">
    <xsd:restriction base="startWithLetterRestLettersSpaceHyphenComma">
      <xsd:minLength value="1"/>
      <xsd:maxLength value="20"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:complexType name="employmentType">
    <xsd:sequence>
      <xsd:choice>
        <xsd:element name="fullTimePartTimeMilitaryOrOther" type="fullTimePartTimeMilitaryOrOtherEmploymentType"/>
        <xsd:element name="retiredNotEmployedOrSelfEmployed" type="retiredNotEmployedOrSelfEmployedStatusType"/>
      </xsd:choice>
      <xsd:element name="telephoneNumber" type="telephoneNumberType" minOccurs="0" maxOccurs="1" />
      <xsd:element name="industry" type="industryType" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>occupation/industry</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="fullTimePartTimeMilitaryOrOtherEmploymentType">
    <xsd:sequence>
      <xsd:element name="status" type="fullTimePartTimeMilitaryOrOtherEmploymentStatusType" />
      <xsd:element name="name" type="fullNameType" minOccurs="1" maxOccurs="1" />
      <xsd:element name="address" type="addressType" minOccurs="1" maxOccurs="1" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:simpleType name="retiredNotEmployedOrSelfEmployedStatusType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="CODE_3_VALUE_NOT-EMPLOYED"/>
      <xsd:enumeration value="CODE_5_VALUE_RETIRED"/>
      <xsd:enumeration value="CODE_4_VALUE_SELF-EMPLOYED"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="fullTimePartTimeMilitaryOrOtherEmploymentStatusType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="CODE_1_VALUE_EMPLOYED FULL TIME"/>
      <xsd:enumeration value="CODE_2_VALUE_EMPLOYED PART-TIME"/>
      <xsd:enumeration value="CODE_6_VALUE_ON ACTIVE MILITARY DUTY"/>
      <xsd:enumeration value="CODE_9_VALUE_OTHER"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="wayToContactType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Phone"/>
      <xsd:enumeration value="Email"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="methodOfPaymentType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Credit Card"/>
      <xsd:enumeration value="Check"/>
      <xsd:enumeration value="Cash"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="timeToContactType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Morning"/>
      <xsd:enumeration value="Afternoon"/>
      <xsd:enumeration value="Evening"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:complexType name="newsletterRegistrationType">
    <xsd:sequence>
      <xsd:element name="receiveNewsletter" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="emailAddress" type="emailAddressType" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>

</xsd:schema>
