src/PatientAccess/Server/AppServer/Web References/VIWeb/PreviousVisitService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:tns1="urn:PreviousVisitService" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:impl="http://vi.webservices.tenethealth.com" xmlns:intf="http://vi.webservices.tenethealth.com" targetNamespace="http://vi.webservices.tenethealth.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:PreviousVisitService">
      <xsd:import namespace="http://vi.webservices.tenethealth.com" />
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:complexType name="PreviousVisitDocumentRequest">
        <xsd:sequence>
          <xsd:element name="docType" nillable="true" type="soapenc:string" />
          <xsd:element name="hspCode" nillable="true" type="soapenc:string" />
          <xsd:element name="maxAge" type="xsd:int" />
          <xsd:element name="medicalRecordNumber" nillable="true" type="soapenc:string" />
          <xsd:element name="multiple" nillable="true" type="soapenc:string" />
          <xsd:element name="returnFormat" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="PreviousVisitDocument">
        <xsd:sequence>
          <xsd:element name="accountNumber" nillable="true" type="soapenc:string" />
          <xsd:element name="documentDate" nillable="true" type="xsd:dateTime" />
          <xsd:element name="documentId" nillable="true" type="soapenc:string" />
          <xsd:element name="documentObject" nillable="true" type="soapenc:base64Binary" />
          <xsd:element name="url" nillable="true" type="soapenc:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="PreviousVisitDocumentResponse">
        <xsd:sequence>
          <xsd:element name="docType" nillable="true" type="soapenc:string" />
          <xsd:element name="documentsWereFound" type="xsd:boolean" />
          <xsd:element name="errorMessage" nillable="true" type="soapenc:string" />
          <xsd:element name="hspCode" nillable="true" type="soapenc:string" />
          <xsd:element name="medicalRecordNumber" nillable="true" type="soapenc:string" />
          <xsd:element name="previousVisitDocuments" nillable="true" type="intf:ArrayOf_tns1_PreviousVisitDocument" />
          <xsd:element name="recsFound" nillable="true" type="intf:ArrayOf_tns1_PreviousVisitDocument" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="AcceptPreviousVisitDocumentRequest">
        <xsd:sequence>
          <xsd:element name="currentAcctNumber" nillable="true" type="soapenc:string" />
          <xsd:element name="docID" nillable="true" type="soapenc:string" />
          <xsd:element name="hspCode" nillable="true" type="soapenc:string" />
          <xsd:element name="previousAcctNumb" nillable="true" type="soapenc:string" />
          <xsd:element name="previousAcctNumber" nillable="true" type="soapenc:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="AcceptPreviousVisitDocumentResponse">
        <xsd:sequence>
          <xsd:element name="currentVisitAccountNumber" nillable="true" type="soapenc:string" />
          <xsd:element name="documentAccepted" type="xsd:boolean" />
          <xsd:element name="errorMessage" nillable="true" type="soapenc:string" />
          <xsd:element name="prevoiusVisitAccountNumber" nillable="true" type="soapenc:string" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://vi.webservices.tenethealth.com">
      <xsd:import namespace="urn:PreviousVisitService" />
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:complexType name="ArrayOf_tns1_PreviousVisitDocument">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute wsdl:arrayType="tns1:PreviousVisitDocument[]" ref="soapenc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="setPreviousVisitDocumentResponse">
    <wsdl:part name="setPreviousVisitDocumentReturn" type="tns1:AcceptPreviousVisitDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="getPreviousVisitDocumentsResponse">
    <wsdl:part name="getPreviousVisitDocumentsReturn" type="tns1:PreviousVisitDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="setPreviousVisitDocumentRequest">
    <wsdl:part name="request" type="tns1:AcceptPreviousVisitDocumentRequest" />
  </wsdl:message>
  <wsdl:message name="getPreviousVisitDocumentsRequest">
    <wsdl:part name="pvdr" type="tns1:PreviousVisitDocumentRequest" />
  </wsdl:message>
  <wsdl:portType name="PreviousVisitService">
    <wsdl:operation name="getPreviousVisitDocuments" parameterOrder="pvdr">
      <wsdl:input name="getPreviousVisitDocumentsRequest" message="intf:getPreviousVisitDocumentsRequest" />
      <wsdl:output name="getPreviousVisitDocumentsResponse" message="intf:getPreviousVisitDocumentsResponse" />
    </wsdl:operation>
    <wsdl:operation name="setPreviousVisitDocument" parameterOrder="request">
      <wsdl:input name="setPreviousVisitDocumentRequest" message="intf:setPreviousVisitDocumentRequest" />
      <wsdl:output name="setPreviousVisitDocumentResponse" message="intf:setPreviousVisitDocumentResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PreviousVisitServiceSoapBinding" type="intf:PreviousVisitService">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="getPreviousVisitDocuments">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getPreviousVisitDocumentsRequest">
        <wsdlsoap:body use="encoded" namespace="http://vi.webservices.tenethealth.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="getPreviousVisitDocumentsResponse">
        <wsdlsoap:body use="encoded" namespace="http://vi.webservices.tenethealth.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setPreviousVisitDocument">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="setPreviousVisitDocumentRequest">
        <wsdlsoap:body use="encoded" namespace="http://vi.webservices.tenethealth.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="setPreviousVisitDocumentResponse">
        <wsdlsoap:body use="encoded" namespace="http://vi.webservices.tenethealth.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PreviousVisitServiceService">
    <wsdl:port name="PreviousVisitService" binding="intf:PreviousVisitServiceSoapBinding">
      <wsdlsoap:address location="http://dvld.tenethealth.com:8060/viwebserv/services/PreviousVisitService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>